.profile-view-container {
  display: flex;
  padding: 0px 50px;

  .profile-info {
    flex: 1 1 50%;

    .user-profile-info {
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: 1fr 7fr;
      gap: 20px;
    }

    .favorite-movies-list {
      list-style-type: none;
      padding-inline-start: 0px;
      margin-top: 20px;

      .favorite-movies-list-element {
        margin-top: 15px;
      }
    }
  }

  .update-profile-form {
    //display: flex;
    flex: 1 1 50%;

    .update-user-profile-form {
      display: grid;
      grid-template-rows: repeat(4, 1fr);
      grid-template-columns: 1fr 4fr 5fr;
      gap: 20px;
      vertical-align: middle;

      label {
        align-self: center;
      }

      .update-user-profile-input {
        background-color: #fff;
        min-height: 30px;
      }
    }

    .profile-form-button {
      background-color: #e50914;
      border-color: #8a060d;
      border-radius: 10px;
      height: 40px;
      margin-top: 10px;
      margin-right: 30px;
    }

    .update-button {
      background-color: #fff;
      border-color: #e50914;
      color: #e50914;

      &:hover {
        cursor: pointer;
        background-color: darken($color: #fff, $amount: 5%);
      }

      &:active {
        background-color: darken($color: #fff, $amount: 15%);
      }
    }

    .delete-button {
      background-color: #e50914;
      border-color: #fff;
      color: #fff;

      &:hover {
        cursor: pointer;
        background-color: lighten($color: #e50914, $amount: 5%);
      }

      &:active {
        background-color: lighten($color: #e50914, $amount: 15%);
      }
    }
  }
}
