<mat-card class="signup-card">
  <mat-card-header class="signup-header">
    <mat-card-title>Log In!</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <input matInput [(ngModel)]="userData.Username" placeholder="Username" type="text" name="Username"
        class="signup-field" required>
      <input matInput [(ngModel)]="userData.Password" type="password" placeholder="Password" name="Password"
        class="signup-field" required>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="loginUser()" class="signup-button">
      Login
    </button>
  </mat-card-actions>
</mat-card>