.signup-card {
  background-color: var(--secondary-bg-color);
  border-radius: 10px;
  height: fit-content;
  align-items: center;
}

.signup-header {
  margin-bottom: 15px;
}
.signup-field {
  margin-top: 15px;
  border-radius: 5px;
  border: none;
  min-height: 35px;
  width: 100%;
  padding-left: 5px;
}
.signup-button {
  background-color: var(--secondary-text-color);
  color: var(--primary-bg-color);
  font-weight: 600;
  padding-left: 16px;
  margin: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
