@use "@angular/material" as mat;

@include mat.core();

$myFlix-Angular-client-primary: mat.define-palette(mat.$indigo-palette);
$myFlix-Angular-client-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$myFlix-Angular-client-warn: mat.define-palette(mat.$red-palette);

$myFlix-Angular-client-theme: mat.define-light-theme(
  (
    color: (
      primary: $myFlix-Angular-client-primary,
      accent: $myFlix-Angular-client-accent,
      warn: $myFlix-Angular-client-warn,
    ),
  )
);

@include mat.all-component-themes($myFlix-Angular-client-theme);

:root {
  --mat-card-title-text-size: 20px;
  --primary-bg-color: #0d0f21;
  --secondary-bg-color: #215291;
  --primary-text-color: #e6e6e6;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
  box-shadow: inset 0px -20px 16px -3px rgba(0, 0, 0, 0.1);
}
